include CODE_OF_CONDUCT.md
include CODEMETA
include CODEOWNERS
include fair-software.md
include LICENSES/LICENSE_GPL.txt
include LICENSES/LICENSE_NIST.txt
include MANIFEST.in
include AUTHORS.md CHANGELOG.md CODE_OF_CONDUCT.md README.md

graft zenowrapper
global-exclude *.py[cod] __pycache__ *.so