[build-system]
requires = [
  "versioningit",
  "wheel",
  "scikit-build-core >=0.4.3",
  "nanobind >=1.3.2",
]
build-backend = "scikit_build_core.build"


[project]
name = "zenowrapper"
description = "This package wraps the package ZENO in a compatible way with MDAnalysis."
license = {file = "LICENSES/LICENSE_GPL.txt"}
authors = [
    {name = "Jennifer A. Clark", email = "jennifer.clark@nist.gov"},
]
maintainers = [
    {name = "Debra J. Audus", email = "debra.audus@nist.gov"},
    {name = "Derek Juba", email = "derek.juba@nist.gov"},
]
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "MDAnalysis>=2.0.0",
]
keywords = [
    "molecular simulations",
    "hydrodynamic",
]
dynamic = [
    "version",
]


# [project.urls]
# source = "https://github.com/jaclark5/zenowrapper"
# documentation = "https://zenowrapper.readthedocs.io"

[tool.scikit-build]
wheel.license-files = ["LICENSES/*.txt", "AUTHORS*"]
metadata.version.provider = "scikit_build_core.metadata.setuptools_scm"
sdist.include = ["zenowrapper", "src/package/_version.py"]
# Protect the configuration against future changes in scikit-build-core
minimum-version = "0.4"

# Setuptools-style build caching in a local directory
build-dir = "zenowrapper/analysis/c_module/build/{wheel_tag}"

# Build stable ABI wheels for CPython 3.12+
wheel.py-api = "cp312"


[tool.setuptools_scm]
write_to = "src/package/_version.py"


[project.optional-dependencies]
test = [
    "pytest>=6.0",
    "pytest-xdist>=2.5",
    "pytest-cov>=3.0",
]
doc = [
    "sphinx",
    "sphinx_rtd_theme",
]


[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [
    "zenowrapper/tests",
]


[tool.black]
line-length = 80

[tool.versioningit]
default-version = "1+unknown"

[tool.versioningit.vcs]
method = "git"
# the below line expects tags to look like '1.0.2'.
# if prefixing with a v, e.g. 'v1.0.2', change it to ["v*"]
match = ["*"]

[tool.versioningit.format]
distance = "{base_version}+{distance}.{vcs}{rev}"
dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"
distance-dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"


[tool.coverage.run]
omit = [
    # Omit the tests
    "*/tests/*",
]


[tool.coverage.report]
exclude_also = [
    "if TYPE_CHECKING:",
]


[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 80


[tool.yapf]
COLUMN_LIMIT = 80
INDENT_WIDTH = 4
USE_TABS = false
